<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/715d22d8c7.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Cool Tech Blog</title>
</head>
<body>

    <header class="flex-row align-center justify-between p-2">
        <div class="heading-wrapper">
        <a href="/">
        <h1 class="">
          Cool Tech Blog
        </h1>
        </a>
        <h4>A Really Cool Blog for Cool People!</h4>
        </div>
        <nav class="flex-col-xs">
            {{#if loggedIn}}
            <a href="/dashboard" class="nav-link">Dashboard</a>
            <button id="logout" class="nav-link nav-button">Logout</button>
            {{else}}
            <a href="/login" class="nav-link nav-button">Login</a>
            <a href="login" class="btn">Sign Up</a>
            {{/if}}
        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>

{{#if loggedIn}}
<script src='/javascript/logout.js'></script>
{{/if}}

</body>
</html>